@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
    font-size:15px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(220, 15%, 55%);
    height: 100vh;
}
.qr{
    padding: 10px;
}
.qr-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    background-color: hsl(0, 0%, 100%);
    padding: 5px;
    border-radius: 10px;
}
.qr-content img{
    width: 200px ;
    border-radius: 10px;
}
.qr-content > p.title{
    font-weight: 700;
    text-align: center;
}
.qr-content > p.footer{
    font-weight:400 ;
    text-align: center;
}
