@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}